/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.gras {
  font-weight: 900;
}

.overflow{
    overflow: hidden;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis; /* pour le reste du monde */
}

.bouton-perso{
    /* padding-bottom: 18px; */
    margin-top: 20px;
    /* width: 100%; */
    /* font-size: 1.5em; */
    border-radius: 0;
    border-color: #f0563d;
    color: #363636;
    background-color: white;
    transition: all 0.4s ease 0s;
}

.bouton-perso span{
    vertical-align: middle;
    font-size: 1.5em;
    margin-bottom: 2px;
}

.bouton-perso a{
    color: #363636;
}

.bouton-perso:hover, .bouton-perso:hover a{
    background-color: #f0563d;
    color: white;
    border-color: #f0563d;
}

.retour{
    position: absolute;
}

.print-ligne-separation{
    display: none;
}

.description, .justify{
    text-align: justify;
}

.ul-presentation{
    font-size: 13px;
    list-style-type: none;
    margin-left: -25px;
}